<footer class="footer">
    <div class="footer-container">
        <div style="margin-top: 50px;" class="footer-brand">
            <div class="brand" style="display: flex; justify-content: center; align-items: center;">
                <div style="margin-bottom: 9px;width: 55px;height: 55px;background: #df6767;" class="logo">CS</div>
                <div>
                    <div style="font-size: 20px;font-weight:700">ClothesShop</div>
                    <div style="font-size:15px;color:var(--muted)">Everyday comfort & style</div>
                </div>
            </div>
        </div>

        <div class="footer-services">
            <h2>Our Services</h2>
            <ul class="text-center">
                <li><a href="#">Free Shipping</a></li>
                <li><a href="#">24/7 Customer Support</a></li>
                <li><a href="#">Easy Returns</a></li>
                <li><a href="#">Gift Cards</a></li>
            </ul>
        </div>

        <div class="footer-contact">
            <h2>Contact</h2>
            <p>Email: info@clothesshop.com</p>
            <p>Phone: +84 123 456 789</p>
            <div class="social-icons">
                <a href="#"><img width="30" src="https://img.icons8.com/?size=100&id=118497&format=png&color=000000"
                        alt="Facebook"></a>
                <a href="#"><img width="30" src="https://img.icons8.com/?size=100&id=13963&format=png&color=000000"
                        alt="Twitter"></a>
                <a href="#"><img width="30" src="https://img.icons8.com/?size=100&id=32323&format=png&color=000000"
                        alt="Instagram"></a>
            </div>
        </div>
    </div>


    <div class="footer-bottom">
        <p>&copy; 2025 ClothesShop. All rights reserved.</p>
    </div>
</footer>